* {
    box-sizing: border-box;
}
#grid-layout {
    background:linear-gradient(rgb(36, 32, 32),rgb(164, 129, 129));
}
body {
    margin: 0px;
    font-family: didot;
    color: rgb(255, 187, 193);
}
#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
    "header header"
    "sidebar main"
    ;
}
#header {
    grid-area: header;
    padding:0px 36px;
}
#header a {
    text-decoration: none;
}
#header #me {
    color: rgb(255, 208, 212);
}
#header #tube {
    background: linear-gradient(rgb(89, 71, 74),rgb(255, 171, 171));
    color: white;
    padding: 4px;
    border-radius: 12px;;
}
.video-channel {
    font-weight:bolder;
}
#sidebar {
    grid-area: sidebar;
    padding: 0px 24px;
}
#sidebar ul {
    padding: 12px 0px;
    margin: 0px;
    list-style-type: none;
    border-bottom: 1px solid rgb(255, 171, 171);
}
#sidebar ul a {
    text-decoration: none;
    color: rgb(255, 223, 223);
    padding: 12px;
    display: block;
}
#sidebar ul a:hover {
    background-color: rgb(255, 171, 171);
    border-radius: 12px;
}
#main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}
.metube-item {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
}
.metube-item .thumbnail-placeholder {
    aspect-ratio: 16 / 9;
}
.metube-item h4 {
    margin: 8px;
}
.metube-item h4 a {
    text-decoration: none;
    color: rgb(255, 223, 223);
    display: block;
}
.metube-item h4 a:hover {
    text-decoration: underline;
}
.metube-item .video-details {
    margin: 8px;
    font-size: 14px;
}
.metube-item .video-channel {
    margin-bottom: 4px;
}
.metube-item .thumbnail-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}
#m1 .thumbnail-placeholder img {
    background-image: url(../images/Screenshot2024-04-15at10.34.29PM.png);
    background-size: cover;
    border: 2px solid rgb(255, 171, 171);
}
#m2 .thumbnail-placeholder img {
    background-image: url(../images/Screenshot2024-04-15at10.32.08PM.png);
    background-size: cover;
    border: 2px solid rgb(255, 171, 171);
}
#m3 .thumbnail-placeholder img {
    background-image: url(../images/Screenshot2024-04-15at10.29.26PM.png);
    background-size: cover;
    border: 2px solid rgb(255, 171, 171);
}
#m4 .thumbnail-placeholder img {
    background-image: url(../images/Screenshot2024-04-15at10.27.13PM.png);
    background-size: cover;
    border: 2px solid rgb(255, 171, 171);
}
#m5 .thumbnail-placeholder img {
    background-image: url(../images/Screenshot2024-04-15at10.25.39PM.png);
    background-size: cover;
    border: 2px solid rgb(255, 171, 171);
}
#m6 .thumbnail-placeholder img {
    background-image: url(../images/IMG1.png);
    background-size: cover;
    border: 2px solid rgb(255, 171, 171);
}