/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/
.tetris-block {
    padding: 20px;
    border-width: 12px;
    border-style: outset;
    display: inline-block;
}

.coral {
    background-color: coral;
    border-color: rgb(255, 162, 128);
}
.lav {
    background-color: rgb(179, 179, 255);
    border-color: rgb(189, 189, 255);
}
.red {
    background-color: red;
    border-color: rgb(255, 47, 47)
}
.fg {
    background-color: forestgreen;
    border-color: rgb(63, 182, 63);
}
.blue {
    background-color: blue;
    border-color: rgb(47, 47, 255);
}
.blank {
    background-color: transparent;
    border-color: transparent;
}
.long {
    padding: 20px 52px;
}