#head1 {
    font-family:'Times New Roman', Times, serif;
    text-align:center;
}
#c1 {
    background-color:#2D5E7D;
    text-align:center;
    padding: 25px;
}
#c2 {
    background-color:#4C4A6D;
    text-align:center;
    padding: 25px;
}
#c3 {
    background-color:#84608A;
    text-align:center;
    padding: 25px;
}