/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

#license {
    border: 2px solid #602037;
    border-radius: 15px;
    background: 
        linear-gradient(to top right, #ff99c0,#ffe77c)
    ;
    padding: 24px;
    width: 700px;
}
#content {
    vertical-align: top;
}
h1 {
    font-size: 60px;
    color: #6670ff;
    margin: 0px;
}
#right-side, #left-side {
    display: inline-block;
}
#left-side {
    width: 60%;
    font-family: sans-serif;
}
#right-side {
    width: 35%;
}
h4 {
    text-align: center;
    background-color: #6670ff;
    color: white;
    padding: 8px;
    font-size: 24px;
    margin: 0px;
}
#id-and-expiration div {
    display: inline-block;
    color: #6670ff;
    margin: 8px;
}
#id-and-expiration span {
    color: #ae426a;
    font-weight: bold;
}
#address {
    font-weight: bold;
    font-size: 18px;
    margin: 9px;
    color: #313568;
}
#small-pic, #data-fields {
    display: inline-block;
}
#small-pic img {
    opacity: 50%;
    width: 90px;
    height: 90px;
}
#data-left, #data-right {
    display: inline-block;
    color: #6670ff;
    margin: 8px;
}
#signature {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    font-family: "Ms Madi";
    color: #313568;
}
#data-left span,
#data-right span {
    color: #ae426a;
    font-weight: bold;
}
#right-side img {
    width: 100%;
    height: 225px;
}
#donor-and-real-id {
    text-align: center;
    padding-top: 4px;
}
#donor-and-real-id div {
    display: inline-block;
    padding: 5px;
    color: #ae426a;
    font-weight: bold;
}
#donor {
    color: #ae426a;
    font-family: sans-serif;
    font-weight: bold;
    padding-right: 24px;
}
#real-id {
    display: inline-block;
    background-color: #ffe77c;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    padding: 4px;
}
#real-id i {
    color: white;
}
