* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: beige;
    color: rgb(29, 25, 18);
}
#two-columns{
    display: flex;
}
#sidebar {
    background-color: rgb(124, 100, 80);
    width: 200px;
    padding: 24px;
    border-right: 5px solid rgb(37, 32, 24);
}
#sidebar h2 {
    border-bottom: 2px solid beige;
    padding-bottom: 8px;
}
#sidebar ul {
    list-style-type: none;
    padding: 0px;
}
#sidebar ul a {
    color: rgb(37, 32, 24);
    text-decoration: none;
}
#sidebar ul li {
    padding: 4px 0px;
}
#main-content {
    background-color: beige;
    padding: 48px;
    flex: 1;
}