* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: katari;
    background-color: #ffebd3;
}
hr {
    background-color: #ECB06E;
    border: 1px solid #ECB06E;
    height: 3px;
    margin: 0px 20px;
}
/**************************************************b***************************
HOMEPAGE
******************************************************************************/
/*NAV*/
#navbar-top {
    display: flex;
    justify-content: center;
    background-color: #354E88;
    margin: 0px;
    padding: 0px;
}
#logo img {
    width: 25vh;
    padding: 10px;
}
#navbar-bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ECB06E;
    padding: 0px;
}
#navbar-bottom p {
    color: #354E88;
}
#navbar-bottom a:hover{
    text-decoration: underline;
}
#navbar-bottom a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #354E88;
}
/*DROPDOWN*/
.dropdown-container {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity .5s,
        visibility .5s
    ;
    z-index: 0px;
}
.dropdown-menu a {
    background-color: #ECB06E;
    width: 100%;
    min-width: 100px;
}
.dropdown-menu a:hover {
    background-color:#A880B4;
}
.dropdown-container:hover .dropdown-menu {
    background-color:#A880B4;
    opacity: 1;
    visibility: visible;
}
/*FOOTER*/
#footer {
    position: relative;
    margin-bottom: -100px;
    clear: both;
    bottom: 0;
    background-color: #354E88;
}
#footer h2 {
    color: #ECB06E;
    font-size: 30px;
    padding-top: 30px;
    margin-left: 20px;
}
#footer hr {
    background-color: #ECB06E;
    border: 1px solid #ECB06E;
    height: 3px;
    margin: 0px 20px;
}
#footer .social-media {
    grid-column: auto;
    columns: 3;
    padding: 20px 25px;
    text-align: left;
    list-style-type: none;
    margin: 0;
}
.social-media li {
    padding: 5px 0px;
}
#footer a{
    color:  #ECB06E;
    text-decoration: none;
}
/*IMAGE*/
.coverimage {
    object-fit: cover;
    width: 100vw;
    height: 40vh;
}
/*HERO*/
#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero h1 {
    font-size: 50px;
    margin-bottom: 2vh;
    color: #A880B4;
}
#hero p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2vw;
    margin: 0px 55px;
    color: #354E88;
    text-align: center;
}
#hero a {
    font-size: 2vw;
    display: inline-block;
    margin: 25px 0px;
    background-color: #ECB06E;
    border-radius: 50px;
    color: #354E88;
    text-decoration: none;
    padding: 25px;
    font-weight: bold;
    transition: 
        background-color .5s,
        transform .5s
    ;
}
#hero a:hover {
    background-color: #A880B4;
    color: #ECB06E;
    transform: translateY(-4px);
}
/*CARD*/
#centered-column {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    gap: 36px;
    justify-content: center;
}
.card {
    text-align: center;
    width: 450px;
    border: 2px solid #354E88;
    border-radius: 5px;
    padding: 10px;
    background-color: #354E88;
    display: flex;
    flex-direction: column;
    transition:
        transform .25s
    ;
}
.card:hover {
    transform: translateY(-4px);
}
.card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.card h2 {
    font-size: 36px;
    margin-top: 12px;
    margin-bottom: 0px;
    color: #ECB06E;
}
.card p{
    font-size: 18px;
    flex: 1;
    color: #ECB06E;
}
.card a {
    color: #354E88;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 3px solid #ECB06E;
    background-color: #ECB06E;
    transition: 
        background-color .5s,
        color .5s;
}
.card a:hover {
    color:#ECB06E;
    background-color: #A880B4;
    border: 3px solid #A880B4;
}
#email
/*****************************************************************************
ABOUT US
******************************************************************************/
#about-us {
    margin: 25px;
}
#about-us p {
    color: #354E88;
    margin: 25px;
}
#about-us h2 {
    color: #A880B4;
    font-size: 45px;
    margin: 25px;
}
#about-us .left {
    text-align: left;
}
#about-us .right {
    text-align: right;
}
#about-us .middle {
    text-align: center;
}
#about-us .middle h2{
    font-size: 50px;
}
.info {
    text-align: center;
}
#slogan {
    font-size: 20px;
    text-align: center;
    color: #354E88;
}
/*****************************************************************************
MENU
******************************************************************************/
#menu {
    display: flex;
    color: #354E88;
}
#menu-items .menu-header {
    font-size: 50px;
    margin: 10px;
}
#column-list {
    background-color: #A880B4;
    padding: 0px 10px;
}
#column-list ul{
    list-style-type: none;
    margin-right: 20px;
}
#column-list a{
    text-decoration: none;
    color: #354E88;
    padding: 3px;
    transition:
        color .25s
    ;
}
#column-list a:hover {
    color: #ECB06E;
}
#featured {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
    border: 2px solid #354E88;
}
#featured .fi {
    font-size: 40px;
    margin-bottom: 10px;
}
#featured .fi-item{
    color: #A880B4;
    font-size: 20px;
}
#featured p{
    font-size: 15px;
    margin: 30px 100px;
}
.featured-item {
    width: 350px;
}
#menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.items {
    margin: 10px;
}
#menu-items h2 {
    font-size: 30px;
    color: #A880B4;
}
#menu-items img {
    width: 300px;
    padding: 0px 30px;
}
#menu-items ul {
    list-style-type: none;
}
#menu-items li {
    padding: 10px 0px;
}
/*Breakafst*/
#Breakfast {
    padding: 30px 0px;
    border: 2px solid #354E88;
    min-width: 700px;
}
#Breakfast h2{
    margin: 0px 39px;
}
#Breakfast img {
    margin: 10px;
}
.breakfast-items {
    display: flex;
    flex-direction: row;
}
/*Lunch*/
#Lunch {
    padding: 30px 20px;
    border: 2px solid #354E88;
    min-width: 700px;
}
#Lunch h2{
    margin: 0px 39px;
}
#Lunch img {
    margin: 10px;
}
.lunch-items {
    display: flex;
    flex-direction: row;
}
/*Dinner*/
#Dinner {
    padding: 30px 0px;
    border: 2px solid #354E88;
    min-width: 700px;
}
#Dinner h2{
    margin: 0px 39px;
}
#Dinner img {
    margin: 10px;
}
.dinner-items {
    display: flex;
    flex-direction: row;
}
/*Desserts*/
#Desserts {
    padding: 30px 0px;
    border: 2px solid #354E88;
    text-align: center;
}
#Desserts h2{
    margin: 0px 9px;
}
#Desserts ul {
    padding: 10px;
    min-width: 130px;
}
.dessert-items {
    display: flex;
    flex-direction: row;
}
/*Drinks*/
#Drinks {
    padding: 30px 0px;
    border: 2px solid #354E88;
    text-align: center;
}
#Drinks h2{
    margin: 0px 9px;
}
#Drinks ul {
    padding: 10px;
    min-width: 130px;
}
.drink-items {
    display: flex;
    flex-direction: row;
}
/*Disclaimer*/
#view-disclaimer {
    color: #354E88;
    text-align: center;
}
#view-disclaimer p{
    margin: 0px;
    font-size: 10px;
}
#view-disclaimer a{
    display: inline-block;
    text-decoration: none;
    color:#ECB06E;
    background-color: #A880B4;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    transition: 
        background-color .5s,
        color .5s
    ;
}
#view-disclaimer a:hover{
    color:#A880B4;
    background-color:#ECB06E;
}
/*****************************************************************************
LOCATIONS
******************************************************************************/
#location-img {
    width: 100vw;
    height: 40vh;
    object-fit: cover;
    object-position: top;
    justify-content: center;
}
#locations h2 {
    font-size: 60px;
    text-align: center;
    color:#A880B4;
    margin: 0px;
}
#locations ul {
    list-style-type: none;
    text-align: center;
    padding-right: 35px;
}
#locations li {
    margin: 25px 0px;
    color: #354E88;
}
.loc-icon {
    width: 15px;
    padding-right: 5px;
}
#email-us {
    text-align: center;
}
#email-us p{
    font-size: 20px;
    color: #354E88;
}
#email-icon {
    width: 40px;
    margin-bottom: 20px;
}

/*****************************************************************************
INFO
******************************************************************************/
#info {
    color: #354E88;
    margin: 0px 20px;
}
#info h2 {
    color: #A880B4;
    text-align: center;
    font-size: 40px;
}
/*****************************************************************************
POLICY AND TERMS
******************************************************************************/
#terms h2{
    color: #A880B4;
    font-size: 35px;
    text-align: center;
}
#terms {
    color: #354E88;
}
#terms-conditions {
    margin: 0px 10px;
    padding-bottom: 20px;
}
#terms-conditions h3{
    font-size: 25px;
}
#terms li {
    margin-bottom: 10px;
}
#terms p {
    text-align: center;
    padding: 80px;
    font-size: 30px;
}
/*****************************************************************************
DISCLAIMER
******************************************************************************/
#disclaimer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: flex-end;
    color: #354E88;
}
#disclaimer h2 {
    font-size: 40px;
    margin: 10px 0px;
    color:#A880B4;
}
#more {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #354E88;
}
#more img {
    width: 6vw;
    padding: 5px;
}
/*****************************************************************************
CONTACT
******************************************************************************/
#contact-form {
    justify-content: center;
    align-items: center;
    text-align: center;
}
#layout {
    margin: 0px 100px;
    padding: 50px;
    color: #354E88;
}
#header {
    font-size: 20px;
}
#header h1 {
    color:#A880B4;
}
form {
    background-color: #ffebd3;
    padding: 36px;
    border: 2px solid #354E88;
    border-radius: 2px;
}
form div label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #354E88;
}
input, 
select, 
textarea {
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #354E88;
    margin-bottom: 16px;
    background-color: #fff4e6;
    color: #354E88;
}
text-area {
    font-family: katarana;
}
input[type=submit] {
    width: auto;
    background-color:  #ECB06E;
    color: #A880B4;
    border: 0;
    border-radius: 3px;
    min-width: 75px;
    transition: 
        background-color .25s,
        color .25s
    ;
}
input[type=submit]:hover{
    background-color:  #A880B4;
    color: #ECB06E;
}
input:not(:focus):not(:placeholder-shown):invalid {
    background-color: #ffebd3;
    border: 2px solid #A880B4;
}
/*****************************************************************************
EMAIL SUBMITTED
******************************************************************************/
#submitted {
    text-align: center;
    color: #354E88;
}
#submitted h2 {
    color: #A880B4;
    font-size: 50px;
    margin: 40px;
}
#submitted p {
    margin: 40px;
}
#submitted a {
    background-color: #A880B4;
    font-size: 20px;
    padding: 20px;
    border-radius: 30px;
    text-decoration: none;
    color: #ECB06E;
    transition: 
        background-color .5s
    ;
}
#submitted a:hover {
    background-color: #ECB06E;
    color: #A880B4;
}
/*****************************************************************************
MEDIA QUERIES
******************************************************************************/
/*TABLET MEDIA QUERY*/
@media screen and (max-width: 768px) and (min-width: 480px) { 
    /**************************************************b***************************
    HOMEPAGE
    ******************************************************************************/
    /*NAV*/
    #navbar-top {
        display: flex;
        justify-content: center;
        background-color: #354E88;
        margin: 0px;
        padding: 0px;
    }
    #logo img {
        width: 20vh;
        padding: 10px;
    }
    #navbar-bottom {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #ECB06E;
        padding: 0px;
    }
    #navbar-bottom p {
        color: #354E88;
    }
    #navbar-bottom a:hover{
        text-decoration: underline;
    }
    /*DROPDOWN*/
    #navbar-bottom a {
        display: inline-block;
        padding: 15px;
        text-decoration: none;
        color: #354E88;
    }
    .dropdown-container {
        position: relative;
    }
    .dropdown-menu {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition:
            opacity .5s,
            visibility .5s
        ;
        z-index: 0px;
    }
    .dropdown-menu a {
        background-color: #ECB06E;
        width: 10%;
    }
    .dropdown-menu a:hover {
        background-color:#A880B4;
    }
    .dropdown-container:hover .dropdown-menu {
        background-color:#A880B4;
        opacity: 1;
        visibility: visible;
    }
    /*FOOTER*/
    #footer {
        position: relative;
        margin-bottom: -100px;
        clear: both;
        bottom: 0;
        background-color: #354E88;
    }
    #footer h2 {
        color: #ECB06E;
        font-size: 30px;
        padding-top: 30px;
        margin-left: 20px;
    }
    #footer hr {
        background-color: #ECB06E;
        border: 1px solid #ECB06E;
        height: 3px;
        margin: 0px 20px;
    }
    #footer .social-media {
        grid-column: auto;
        columns: 3;
        padding: 20px 25px;
        text-align: left;
        list-style-type: none;
        margin: 0;
    }
    .social-media li {
        padding: 5px 0px;
    }
    #footer a{
        color:  #ECB06E;
        text-decoration: none;
    }
    /*IMAGE*/
    .coverimage {
        object-fit: cover;
        width: 100vw;
        height: 20vh;
    }
    /*HERO*/
    #hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #hero h1 {
        font-size: 50px;
        margin-bottom: 2vh;
        color: #A880B4;
    }
    #hero p {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 2.5vw;
        margin: 0px 55px;
        color: #354E88;
        text-align: center;
    }
    #hero a {
        font-size: 2.5vw;
        display: inline-block;
        margin: 25px 0px;
        background-color: #ECB06E;
        border-radius: 50px;
        color: #354E88;
        text-decoration: none;
        padding: 25px;
        font-weight: bold;
        transition: 
            background-color .5s
        ;
    }
    #hero a:hover {
        background-color: #A880B4;
        color: #ECB06E;
    }
    /*CARD*/
    #centered-column {
        width: 100vw;
        max-width: 800px;
        margin: 40px auto;
        display: flex;
        gap: 36px;
        justify-content: center;
    }
    .card {
        text-align: center;
        width: 350vw;
        border: 2px solid #354E88;
        border-radius: 5px;
        padding: 5px;
        background-color: #354E88;
        display: flex;
        flex-direction: column;
        transition:
            transform .25s
        ;
    }
    .card:hover {
        transform: translateY(-4px);
    }
    .card img{
        width: 100%;
        height: 120px;
        object-fit: cover;
    }
    .card h2 {
        font-size: 20px;
        margin-top: 12px;
        margin-bottom: 0px;
        color: #ECB06E;
    }
    .card p{
        font-size: 15px;
        flex: 1;
        color: #ECB06E;
    }
    .card a {
        color: #354E88;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        display: inline-block;
        width: 100%;
        padding: 10px;
        text-align: center;
        border: 3px solid #ECB06E;
        background-color: #ECB06E;
        transition: 
            background-color .5s,
            color .5s;
    }
    .card a:hover {
        color:#ECB06E;
        background-color: #A880B4;
        border: 3px solid #A880B4;
    }
    #email
    /*****************************************************************************
    ABOUT US
    ******************************************************************************/
    #about-us {
        margin: 25px;
    }
    #about-us p {
        color: #354E88;
        margin: 25px;
    }
    #about-us h2 {
        color: #A880B4;
        font-size: 45px;
        margin: 25px;
    }
    #about-us .left {
        text-align: left;
    }
    #about-us .right {
        text-align: right;
    }
    #about-us .middle {
        text-align: center;
    }
    #about-us .middle h2{
        font-size: 50px;
    }
    .info {
        text-align: center;
    }
    #slogan {
        font-size: 20px;
        text-align: center;
        color: #354E88;
    }
    /*****************************************************************************
    MENU
    ******************************************************************************/
    #menu {
        display: flex;
        color: #354E88;
    }
    #column-list {
        background-color: #A880B4;
        padding: 0px;
    }
    #column-list ul{
        list-style-type: none;
        margin-right: 20px;
    }
    #column-list a{
        text-decoration: none;
        color: #354E88;
        padding: 3px;
        transition:
            color .25s
        ;
    }
    #column-list a:hover {
        color: #ECB06E;
    }
    #featured {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 50px;
        border: 2px solid #354E88;
    }
    #featured .fi {
        font-size: 40px;
        margin-bottom: 10px;
    }
    #featured .fi-item{
        color: #A880B4;
        font-size: 20px;
    }
    #featured p{
        font-size: 15px;
        margin: 30px 15px;
    }
    .featured-item {
        width: 350px;
    }
    #menu-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        min-width: 80px;
    }
    .items {
        margin: 10px;
    }
    #menu-items h2 {
        font-size: 20px;
        color: #A880B4;
    }
    #menu-items ul {
        list-style-type: none;
    }
    #menu-items li {
        padding: 10px 0px;
        margin-right: 15px;
    }
    /*Breakafst*/
    #Breakfast {
        padding: 30px 0px;
        border: 2px solid #354E88;
        min-width: 70px;
    }
    #Breakfast h2{
        margin: 0px 20px;
    }
    #Breakfast img {
        visibility: hidden;
        display: none;
    }
    .breakfast-items {
        display: flex;
        flex-direction: row;
        font-size: 13px;
        margin: 0px;
    }
    /*Lunch*/
    #Lunch {
        padding: 30px 0px;
        border: 2px solid #354E88;
        min-width: 325px;
    }
    #Lunch h2{
        margin: 0px 20px;
    }
    #Lunch img {
        visibility: hidden;
        display: none;
    }
    .lunch-items {
        display: flex;
        flex-direction: row;
        font-size: 13px;
        margin: 0px;
    }
    /*Dinner*/
    #Dinner {
        padding: 30px 0px;
        border: 2px solid #354E88;
        min-width: 70px;
    }
    #Dinner h2{
        margin: 0px 20px;
    }
    #Dinner img {
        visibility: hidden;
        display: none;
    }
    .dinner-items {
        display: flex;
        flex-direction: row;
        font-size: 13px;
        margin: 0px;
    }
    /*Desserts*/
    #Desserts {
        padding: 30px 0px;
        border: 2px solid #354E88;
        min-width: 80px;
    }
    #Desserts h2{
        margin: 0px 20px;
        text-align: left;
    }
    #Desserts ul {
        padding: 10px;
        min-width: 74px;
    }
    .dessert-items {
        display: flex;
        flex-direction: row;
        text-align: left;
        font-size: 13px;
        margin: 0px 26px;
    }
    /*Drinks*/
    #Drinks {
        padding: 30px 0px;
        border: 2px solid #354E88;
    }
    #Drinks h2{
        margin: 0px 20px;
        text-align: left;
    }
    #Drinks ul {
        padding: 10px;
        min-width: 90px;
    }
    .drink-items {
        display: flex;
        flex-direction: row;
        text-align: left;
        font-size: 13px;
        margin: 0px 10px;
    }
    /*Disclaimer*/
    #view-disclaimer {
        color: #354E88;
        text-align: center;
    }
    #view-disclaimer p{
        margin: 0px;
        font-size: 10px;
    }
    #view-disclaimer a{
        display: inline-block;
        text-decoration: none;
        color:#ECB06E;
        background-color: #A880B4;
        padding: 10px;
        margin: 10px;
        border-radius: 30px;
        transition: 
            background-color .5s,
            color .5s
        ;
    }
    #view-disclaimer a:hover{
        color:#A880B4;
        background-color:#ECB06E;
    }
    /*****************************************************************************
    LOCATIONS
    ******************************************************************************/
    #location-img {
        width: 100vw;
        height: 30vh;
        object-fit: cover;
        object-position: top;
        justify-content: center;
    }
    #locations h2 {
        font-size: 40px;
        text-align: center;
        color:#A880B4;
        margin: 0px;
    }
    #locations ul {
        list-style-type: none;
        text-align: center;
        padding-right: 35px;
    }
    #locations li {
        margin: 25px 0px;
        color: #354E88;
    }
    .loc-icon {
        width: 15px;
        padding-right: 5px;
    }
    #email-us {
        text-align: center;
    }
    #email-us p{
        font-size: 15px;
        color: #354E88;
    }
    #email-icon {
        width: 40px;
        margin-bottom: 20px;
    }

    /*****************************************************************************
    INFO
    ******************************************************************************/
    #info {
        color: #354E88;
        margin: 0px 20px;
    }
    #info h2 {
        color: #A880B4;
        text-align: center;
        font-size: 40px;
    }
    /*****************************************************************************
    POLICY AND TERMS
    ******************************************************************************/
    #terms h2{
        color: #A880B4;
        font-size: 35px;
        text-align: center;
    }
    #terms {
        color: #354E88;
    }
    #terms-conditions {
        margin: 0px 20px;
        padding-bottom: 40px;
    }
    #terms-conditions h3{
        font-size: 25px;
    }
    #terms p {
        text-align: center;
        padding: 80px;
        font-size: 30px;
    }
    #terms li {
        margin-bottom: 10px;
    }
    #terms .thankyou {
        font-size: 20px;
    }
    /*****************************************************************************
    DISCLAIMER
    ******************************************************************************/
    #disclaimer {
        display: flex;
        flex-direction: column;
        margin: 20px;
        justify-content: flex-end;
        color: #354E88;
    }
    #disclaimer h2 {
        font-size: 40px;
        margin: 10px 0px;
        color:#A880B4;
    }
    #more {
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #354E88;
    }
    #more img {
        width: 6vw;
        padding: 5px;
    }
    /*****************************************************************************
    CONTACT
    ******************************************************************************/
    #contact-form {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #layout {
        margin: 0px;
        padding: 50px;
        color: #354E88;
    }
    #header {
        font-size: 20px;
    }
    #header h1 {
        color:#A880B4;
    }
    form {
        background-color: #ffebd3;
        padding: 36px;
        border: 2px solid #354E88;
        border-radius: 2px;
    }
    form div label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
        color: #354E88;
    }
    input, 
    select, 
    textarea {
        padding: 12px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #354E88;
        margin-bottom: 16px;
        background-color: #fff4e6;
        color: #354E88;
    }
    text-area {
        font-family: katarana;
    }
    input[type=submit] {
        width: auto;
        background-color:  #ECB06E;
        color: #A880B4;
        border: 0;
        border-radius: 3px;
        min-width: 75px;
        transition: 
            background-color .25s,
            color .25s
        ;
    }
    input[type=submit]:hover{
        background-color:  #A880B4;
        color: #ECB06E;
    }
    input:not(:focus):not(:placeholder-shown):invalid {
        background-color: #ffebd3;
        border: 2px solid #A880B4;
    }
    /*****************************************************************************
    EMAIL SUBMITTED
    ******************************************************************************/
    #submitted {
        text-align: center;
        color: #354E88;
    }
    #submitted h2 {
        color: #A880B4;
        font-size: 50px;
        margin: 40px;
    }
    #submitted p {
        margin: 40px;
    }
    #submitted a {
        background-color: #A880B4;
        font-size: 20px;
        padding: 20px;
        border-radius: 30px;
        text-decoration: none;
        color: #ECB06E;
        transition: 
            background-color .5s
        ;
    }
    #submitted a:hover {
        background-color: #ECB06E;
        color: #A880B4;
    }
}
/*CELL PHONE MEDIA QUERY*/
@media screen and (max-width: 480px) {
    /**************************************************b***************************
    HOMEPAGE
    ******************************************************************************/
    /*NAV*/
    #navbar-top {
        display: flex;
        justify-content: center;
        background-color: #354E88;
        margin: 0px;
        padding: 0px;
    }
    #logo img {
        width: 20vh;
        padding: 10px;
    }
    #navbar-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: #ECB06E;
        padding: 0px;
    }
    #navbar-bottom .line {
        display: none;
    }
    #navbar-bottom p {
        color: #354E88;
    }
    #navbar-bottom a:hover{
        text-decoration: underline;
    }
    /*DROPDOWN*/
    .dropdown-container {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    .dropdown-menu {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition:
            opacity .5s,
            visibility .5s
        ;
        z-index: 0px;
    }
    .dropdown-menu a {
        background-color: #ECB06E;
        width: 10%;
    }
    .dropdown-menu a:hover {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    .dropdown-container:hover .dropdown-menu {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    /*FOOTER*/
    #footer {
        position: relative;
        margin-bottom: -100px;
        clear: both;
        bottom: 0;
        background-color: #354E88;
    }
    #footer h2 {
        color: #ECB06E;
        font-size: 20px;
        padding-top: 30px;
        margin-left: 20px;
    }
    #footer hr {
        background-color: #ECB06E;
        border: 1px solid #ECB06E;
        height: 3px;
        margin: 0px 20px;
    }
    #footer .social-media {
        grid-column: auto;
        columns: 3;
        padding: 20px 25px;
        text-align: left;
        list-style-type: none;
        margin: 0;
        font-size: 10px;
    }
    .social-media li {
        padding: 5px 0px;
    }
    #footer a{
        color:  #ECB06E;
        text-decoration: none;
    }
    /*IMAGE*/
    .coverimage {
        object-fit: cover;
        width: 100vw;
        height: 20vh;
    }
    /*HERO*/
    #hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #hero h1 {
        font-size: 40px;
        margin-bottom: 2vh;
        color: #A880B4;
    }
    #hero p {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 4vw;
        margin: 0px 30px;
        color: #354E88;
        text-align: center;
    }
    #hero a {
        font-size: 3vw;
        display: inline-block;
        margin: 25px 0px;
        background-color: #ECB06E;
        border-radius: 50px;
        color: #354E88;
        text-decoration: none;
        padding: 25px;
        font-weight: bold;
        transition: 
            background-color .5s
        ;
    }
    #hero a:hover {
        background-color: #A880B4;
        color: #ECB06E;
    }
    /*CARD*/
    #centered-column {
        width: 100vw;
        max-width: 800px;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        gap: 36px;
        justify-content: center;
        align-items: center;
    }
    .card {
        text-align: center;
        width: 90vw;
        border: 2px solid #354E88;
        border-radius: 5px;
        padding: 5px;
        background-color: #354E88;
        display: flex;
        flex-direction: column;
        transition:
            transform .25s
        ;
    }
    .card:hover {
        transform: translateY(-4px);
    }
    .card img{
        width: 100%;
        height: 120px;
        object-fit: cover;
    }
    .card h2 {
        font-size: 20px;
        margin-top: 12px;
        margin-bottom: 0px;
        color: #ECB06E;
    }
    .card p{
        font-size: 15px;
        flex: 1;
        color: #ECB06E;
    }
    .card a {
        color: #354E88;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        display: inline-block;
        width: 100%;
        padding: 10px;
        text-align: center;
        border: 3px solid #ECB06E;
        background-color: #ECB06E;
        transition: 
            background-color .5s,
            color .5s;
    }
    .card a:hover {
        color:#ECB06E;
        background-color: #A880B4;
        border: 3px solid #A880B4;
    }
    #email
    /*****************************************************************************
    ABOUT US
    ******************************************************************************/
    #about-us {
        margin: 25px;
    }
    #about-us p {
        color: #354E88;
        margin: 25px;
    }
    #about-us h2 {
        color: #A880B4;
        font-size: 35px;
        margin: 25px;
    }
    #about-us .left {
        text-align: left;
    }
    #about-us .right {
        text-align: right;
    }
    #about-us .middle {
        text-align: center;
    }
    #about-us .middle h2{
        font-size: 40px;
    }
    .info {
        text-align: center;
    }
    #slogan {
        font-size: 10px;
        text-align: center;
        color: #354E88;
    }
    /*****************************************************************************
    MENU
    ******************************************************************************/
    #menu {
        display: flex;
        color: #354E88;
    }
    #column-list {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    #featured {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 10px;
        border: 2px solid #354E88;
    }
    #featured .fi {
        font-size: 30px;
        margin-bottom: 10px;
    }
    #featured .fi-item{
        color: #A880B4;
        font-size: 20px;
    }
    #featured p{
        font-size: 10px;
        margin: 20px 15px;
    }
    .featured-item {
        width: 300px;
    }
    #menu-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        min-width: 80px;
    }
    .items {
        margin: 10px;
    }
    #menu-items h2 {
        font-size: 20px;
        color: #A880B4;
    }
    #menu-items ul {
        list-style-type: none;
    }
    #menu-items li {
        padding: 10px 0px;
        margin-right: 15px;
    }
    /*Breakafst*/
    #Breakfast {
        padding: 30px 0px;
        border: 2px solid #354E88;
        min-width: 312px;
        text-align: center;
    }
    #Breakfast h2{
        margin: 0px 20px;
    }
    #Breakfast img {
        visibility: hidden;
        display: none;
    }
    .breakfast-items {
        display: flex;
        flex-direction: row;
        font-size: 13px;
        padding: 0px;
        margin: 10px;
    }
    /*Lunch*/
    #Lunch {
        padding: 30px 0px;
        border: 2px solid #354E88;
        min-width: 343px;
        text-align: center;
    }
    #Lunch h2{
        margin: 0px 20px;
    }
    #Lunch img {
        visibility: hidden;
        display: none;
    }
    .lunch-items {
        display: flex;
        flex-direction: row;
        font-size: 13px;
        margin: 0px;
    }
    /*Dinner*/
    #Dinner {
        padding: 30px 0px;
        border: 2px solid #354E88;
        min-width: 344px;
        text-align: center;
    }
    #Dinner h2{
        margin: 0px 20px;
    }
    #Dinner img {
        visibility: hidden;
        display: none;
    }
    .dinner-items {
        display: flex;
        flex-direction: row;
        font-size: 13px;
        margin: 0px;
    }
    /*Desserts*/
    #Desserts {
        padding: 30px 0px;
        border: 2px solid #354E88;
        min-width: 344px;
        text-align: center;
    }
    #Desserts ul {
        padding: 10px;
        min-width: 120px;
    }
    .dessert-items {
        display: flex;
        flex-direction: row;
        font-size: 13px;
        margin: 0px;
    }
    /*Drinks*/
    #Drinks {
        padding: 30px 0px;
        border: 2px solid #354E88;
        text-align: center;
    }
    #Drinks ul {
        padding: 10px;
        min-width: 130px;
    }
    .drink-items {
        display: flex;
        flex-direction: row;
        font-size: 13px;
        margin: 0px;
    }
    /*Disclaimer*/
    #view-disclaimer {
        color: #354E88;
        text-align: center;
    }
    #view-disclaimer p{
        margin: 0px;
        font-size: 10px;
    }
    #view-disclaimer a{
        display: inline-block;
        text-decoration: none;
        color:#ECB06E;
        background-color: #A880B4;
        padding: 10px;
        margin: 10px;
        border-radius: 30px;
        transition: 
            background-color .5s,
            color .5s
        ;
    }
    #view-disclaimer a:hover{
        color:#A880B4;
        background-color:#ECB06E;
    }
    /*****************************************************************************
    LOCATIONS
    ******************************************************************************/
    #location-img {
        width: 130vw;
        height: 20vh;
        object-fit: cover;
        object-position: top;
        justify-content: center;
    }
    #locations h2 {
        font-size: 40px;
        text-align: center;
        color:#A880B4;
        margin: 0px;
    }
    #locations ul {
        list-style-type: none;
        text-align: center;
        padding-right: 35px;
    }
    #locations li {
        margin: 25px 0px;
        color: #354E88;
    }
    .loc-icon {
        width: 15px;
        padding-right: 5px;
    }
    #email-us {
        text-align: center;
    }
    #email-us p{
        font-size: 15px;
        color: #354E88;
    }
    #email-icon {
        width: 40px;
        margin-bottom: 20px;
    }

    /*****************************************************************************
    INFO
    ******************************************************************************/
    #info {
        color: #354E88;
        margin: 0px 20px;
    }
    #info h2 {
        color: #A880B4;
        text-align: center;
        font-size: 40px;
    }
    /*****************************************************************************
    POLICY AND TERMS
    ******************************************************************************/
    #terms h2{
        color: #A880B4;
        font-size: 30px;
        text-align: center;
    }
    #terms {
        color: #354E88;
    }
    #terms-conditions {
        margin: 0px 20px;
        padding-bottom: 40px;
    }
    #terms-conditions h3{
        font-size: 20px;
    }
    #terms p {
        text-align: center;
        padding: 80px;
        font-size: 20px;
    }
    #terms li {
        margin-bottom: 20px;
    }
    #terms .thankyou {
        font-size: 20px;
    }
    /*****************************************************************************
    DISCLAIMER
    ******************************************************************************/
    #disclaimer {
        display: flex;
        flex-direction: column;
        margin: 20px;
        justify-content: flex-end;
        color: #354E88;
    }
    #disclaimer h2 {
        font-size: 40px;
        margin: 10px 0px;
        color:#A880B4;
    }
    #more {
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #354E88;
    }
    #more img {
        width: 15vw;
        padding: 5px;
    }
    /*****************************************************************************
    CONTACT
    ******************************************************************************/
    #contact-form {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #layout {
        margin: 0px;
        padding: 20px;
        color: #354E88;
    }
    #header {
        font-size: 15px;
    }
    #header h1 {
        color:#A880B4;
    }
    form {
        background-color: #ffebd3;
        padding: 25px;
        border: 2px solid #354E88;
        border-radius: 2px;
    }
    form div label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
        color: #354E88;
    }
    input, 
    select, 
    textarea {
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #354E88;
        margin-bottom: 16px;
        background-color: #fff4e6;
        color: #354E88;
    }
    text-area {
        font-family: katarana;
    }
    input[type=submit] {
        width: auto;
        background-color:  #ECB06E;
        color: #A880B4;
        border: 0;
        border-radius: 3px;
        min-width: 75px;
        transition: 
            background-color .25s,
            color .25s
        ;
    }
    input[type=submit]:hover{
        background-color:  #A880B4;
        color: #ECB06E;
    }
    input:not(:focus):not(:placeholder-shown):invalid {
        background-color: #ffebd3;
        border: 2px solid #A880B4;
    }
    /*****************************************************************************
    EMAIL SUBMITTED
    ******************************************************************************/
    #submitted {
        text-align: center;
        color: #354E88;
    }
    #submitted h2 {
        color: #A880B4;
        font-size: 50px;
        margin: 40px;
    }
    #submitted p {
        margin: 40px;
    }
    #submitted a {
        background-color: #A880B4;
        font-size: 20px;
        padding: 20px;
        border-radius: 30px;
        text-decoration: none;
        color: #ECB06E;
        transition: 
            background-color .5s
        ;
    }
    #submitted a:hover {
        background-color: #ECB06E;
        color: #A880B4;
    }
}