* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#hero {
    background-image: url(../images/tea_L6.jpg);
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero h1 {
    background-color: #62123bcd;
    padding: 10px;
}
/*GALLERY*/
#gallery-layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}
#gallery-layout .basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 10px solid #b8232bcd;
    padding: 24px;
    gap: 24px;
}
#gallery-layout .basic-grid-gallery img {
    width: 100%;
}
/*PORTRAIT*/
#portrait-layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}
#portrait-layout .basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 10px solid #ca751bcd;
    padding: 24px;
}
#portrait-layout .basic-grid-gallery img {
    width: 100%;
}
/*MIXED GALLERY*/
#mixed-layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}
#mixed-layout .cropped-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 10px solid #4f3334cd;
    padding: 24px;
    grid-auto-rows: 200px 300px;
}
#mixed-layout .cropped-grid-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*HORIZONTAL MASONRY GALLERY*/
#horizontal-layout .horizontal-masonry-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
#horizontal-layout .horizontal-masonry-gallery img {
    height: 250px;
    flex: 1;
    object-fit: cover;
}
/*VERTICAL MASONRY GALLERY*/
#vertical-layout .vertical-masonry-gallery {
    columns: 3 auto;
    column-gap: 24px;
}
#vertical-layout .vertical-masonry-gallery img {
    width: 100%;
    margin-bottom: 24px;
}