div {
    border: 10px dashed red;
    margin: 24px 0px 45px;
    padding: 24px 36px;
    background-color: coral;
}
p {
    border: 20px dotted blue;
    margin: 60px;
    padding: 48px 60px;
    background-color: cornflowerblue;
}